@media screen and (min-width: 1001px) {
  .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }

  .header-wrapper {
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px;
  }

  header p {
    /* font-size: 20px; */
    display: none;
  }

  header img {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    left: -100%;
    top: 80px;
  }

  .nav-btn {
    display: flex;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 10px;
  }

  .nav-btn img {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  .nav-btn:hover {
    background-color: #832019;
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }

  .nav-open {
    left: 0;
  }

  .home-btn {
    /* margin-left: auto;
  margin-right: auto; */
    display: block;
    left: 0;
  }

  section {
    width: 100%; /* Add padding to both sides */
    margin-left: 0;
    padding: 40px 10px; /* Reduce padding for smaller screens */
    overflow-x: hidden;
  }
}

#slideshow {
  height:40vh;
  width: 20wv;
}
